/* Tooltip container */
.toggle:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 90px; /* Adjust this value to position the tooltip */
  right: -40px;
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 100;
}
.external-link {
  color: white;
}
.external-link::after {
  content: '🔗';
  display: inline-block;
  margin-left: 3px;
}
.external-link:hover::after {
  content: "Click to view";
  position: absolute;
  margin-left: 10px; /* Adjust the position next to the link */
  background-color: white; /* Background color for the tooltip */
  color: black; /* Text color */
  padding: 2px 6px; /* Padding for the tooltip */
  border-radius: 3px; /* Rounded corners */
  font-size: 12px; /* Font size for the tooltip */
  white-space: nowrap; /* Prevent text from wrapping */
  z-index: 100;
}
nav a:hover::after {
  content: "Link to external site"; /* Text that appears on hover */
  position: absolute;
  top: 230px;
  margin-left: -105px; /* Adjust the position next to the link */
  background-color: white; /* Background color for the tooltip */
  color: black; /* Text color */
  padding: 2px 6px; /* Padding for the tooltip */
  border-radius: 3px; /* Rounded corners */
  font-size: 14px; /* Font size for the tooltip */
  white-space: nowrap; /* Prevent text from wrapping */
  z-index: 100;
}
/* From Uiverse.io by Creatlydev */ 
.toggle {
  background-color: #000000;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
  line-height: 1;
  position: absolute; top: 30px; right: 50px;
}
.mode-label {
  display: block;
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  position: absolute; top: 67px; right: 32px;
}
.input {
  display: none;
}
.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}
.icon--moon {
    transform: scale(1);
}
.icon--sun {
    transform: scale(0);
}
/* Dark Mode Styles */
body {
    background: linear-gradient(to bottom right, rgb(20, 1, 70), rgb(0, 0, 0), #4e0d4e);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
}
a, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav a {
    height: 25px;
    width: 110px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border: 3px solid rgb(255, 255, 255);
    margin-right: 10px;
    background-position: bottom;
}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image {
    position: absolute;
    top: 50px;
    right: 140px;
    padding: 5px;
    width: 180px;
    height: 181px;
}

/* Light Mode Styles */
body.light-mode {
  background: linear-gradient(to bottom right, #ce7d7d ,#d171a6, rgb(237, 168, 138) );
  color: black;
}
body.light-mode a, body.light-mode p {
  color: black;
}
body.light-mode nav a {
  color: black; /* Text color for light mode */
  border: 3px solid black; /* Border color for light mode */
  } 
body.light-mode .toggle {
  background-color: #d171a6;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
}
body.light-mode .mode-label {
  color: black;

}
/* Light mode toggle switch styles */
#switch:checked + .icon--moon {
  transition-delay: 200ms;
  transform: scale(0) rotate(360deg);
}
#switch:checked ~ .icon--sun {
  transform: rotate(360deg) scale(1);
}




